* {
  -webkit-font-smoothing: antialiased;
  color: $white;
  font-family: $primary-font;
}

html {
  font-size: 24px;

  @include respond-to("xxxl") {
    font-size: 22px;
  }

  @include respond-to("xxl") {
    font-size: 16px;
  }

  @include respond-to("md") {
    font-size: 14px;
  }
}
