// Colors
$green-500: #43ab6d;
$blue-800: #08263f;
$white: #fff;
$black: #000;

// Fonts
$primary-font: "League Spartan", "Montserrat", "Arial Narrow", sans-serif;

// Folders Path
$base-path: "../assets";
$image-path: "#{$base-path}/images";
$bg-path: "#{$base-path}/backgrounds";
$icon-path: "#{$base-path}/icons";
